.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
/_freeze/

slides/*.pdf
slides/*.html
slides/**/*_cache/*
projects/*.zip

# knitr and caching stuff
**/*_files/*
**/*_cache/*

README.html

files/incomplete-reports.zip

/.luarc.json
